@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
}

$theme-colors: (
    "light":      #d4d9e1,
    "dark":       #0b1529,
    "primary":    #3c38b1,
    "secondary":  #6763ec,
    "info":       #9b99e9,
    "accent1":    #4448a0,
    "accent2":    #546cd6,
    "accent3":    #95b6f4,
    "success":    #1fa966,
    "warning":    #e2cd1e,
    "danger":     #f1240e,
);

$font-weight: (
  "regular": 400,
  "medium": 600,
  "bold": 700,
);



* {
  box-sizing: border-box;

}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  display: flex;
  flex-direction: column;
  background-color: map-get($theme-colors, dark);
  color: map-get($theme-colors, light);
  font-family: 'Nunito', sans-serif;
}